.dashboardMain {
    height: 100vh;
    background-color: rgba(242, 237, 243, 255);
    padding: 15px;

    .graphsContainer {
        .incomestats {
            background: rgba(207,
                    208,
                    230);
            opacity: 0.7;

        }

        .expensesStats {
            background: rgba(97, 219, 202, 255);
            opacity: 0.7;

        }


        .barGraphMain {
            // background: rgba(97, 219, 202, 255);
            opacity: 0.7;
            // background-color: transparent;
            margin: 5px;
            width: 49% !important;
            border-radius: 15px;
            padding: 10px;

            .GrpahHeading {
                color: White;
                // color: green;
                font-weight: 400;
                font-size: medium;
                padding: 0px;
            }

            .cardsContainer {
                display: flex;
                justify-content: space-around;

                .detailsCard {
                    background-color: rgba(61, 157, 234, 255);
                    width: 30%;
                    height: 50px;
                    text-align: center;
                    color: white;
                    border-radius: 5px;
                    font-size: 10px;
                    font-weight: bold;
                }

            }

        }

    }
}