.dashboardMain {
    height: 100vh;
    background-color: rgba(104, 155, 184, 255);
    padding: 15px;

    .graphsContainer {


        .expensesGraphMain {
            background: rgba(187, 206, 217, 255);
            opacity: 0.7;
            // background-color: transparent;
            margin: 5px;
            width: 49% !important;
            border-radius: 15px;
            padding: 10px;

            .GrpahHeading {
                color: green;
                font-weight: 400;
                font-size: medium;
                padding: 0px;
            }

            .cardsContainer {
                display: flex;
                justify-content: space-around;

                .detailsCard {
                    width: 30%;
                    height: 50px;
                    background-color: rgba(204, 204, 204, 255);
                    text-align: center;
                    color: green;
                    border-radius: 5px;
                    font-size: 13px;
                }

            }

        }

    }
}