
.p-datatable .p-datatable-tbody>tr>td .p-row-editor-init,
.p-datatable .p-datatable-tbody>tr>td .p-row-editor-save,
.p-datatable .p-datatable-tbody>tr>td .p-row-editor-cancel{
    width: 1rem !important;
    height: 1rem !important;
}

.p-datatable{
.p-datatable-tbody {        
  tr td {
    border: 1px solid rgba(0, 0, 0, 0.05) !important;
    font-size: 12px !important;
    padding: 7px 14px !important;
  }
}
}



.p-datatable-wrapper{
.p-datatable-table{
    .p-datatable-thead{
        tr th{
            border: 1px solid rgba(0, 0, 0, 0.05) !important;
            font-size: 13px !important;
        }
    }
}
}

.user-profile-label{
   width:150px;
   margin-left: 150px;
}
.user-profile-input{
  width: 500px;
}
.user-profile-image{
 // margin-top:15px;
 // margin-bottom:30px;
  margin-left: 70px;
}
.MuiTabs-root{
  background-color: rgba(0, 0, 0, 0.12);
}
.Mui-selected{
  background: #46799a !important;
  color: white !important;
}
// .date_field{
//   .MuiInputBase-root{
//     font-size: 13px !important;
//     padding: 0px 8px 0px 0px;
//   }
//   input{
//     min-height:15px !important;
//     padding: 0px 8px 0px 8px !important;
//   }
//   svg{
//     font-size: 18px !important;
//   }
// }