.App-setting-container {
    .org-details-section{
        display: block;
        width: 100%;
    }
    .color-field {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
}