.RegistrationPageMain {
    background-color: rgba(11, 73, 130, 255);
    height: 100vh;
    width: 100%;

    p {
        margin: 0px;
        background-color: white;
        padding: 10px;
        text-align: center;
    }

    // .formContainer {
    //     background-color: rgba(113, 164, 218, 255);
    //     margin-left: 25%;
    //     margin-top: 15%;
    //     margin-right: 15%;
    //     vertical-align: middle;
    //     height: auto;
    //     color: aliceblue;
    //     padding: 10px 30px;
    //     // padding-left: 30px;
    //     // padding-top: 20px;
    //     width: 50%;
    //     // display: flex;

    //     .fieldErr {
    //         border: 2px solid red;
    //     }

    //     .formSubmission {
    //         display: flex;
    //         margin-top: 10px;
    //         justify-content: center;

    //         button {
    //             padding: 5px;
    //             background: rgba(11, 73, 130, 255);
    //         }
    //     }

    //     .formField {
    //         display: inline-block;
    //         width: 50%;
    //         margin-top: 10px;

    //         input {
    //             padding: 6px;
    //             width: 70%;
    //             margin-left: 3px;
    //         }

    //         label {
    //             display: inline-block;
    //             width: 30%;
    //         }

    //         .reactSelect {
    //             display: inline-block;
    //             width: 60%;
    //             margin-left: 3px;
    //             color: black;
    //         }
    //     }
    // }
    .formContainer {
        display: flex;
        justify-content: center;
        height: 90vh;
        flex-direction: column;
        align-items: center;


        .form {
            background-color: rgba(113, 164, 218, 255);
            width: 60%;
            padding: 30px;

            .formField {
                display: inline-block;
                width: 50%;

                label {
                    color: white;
                    display: block;
                    width: 80%;
                    text-align: start;
                }

                input {
                    padding: 10px 15px;
                    display: block;
                    width: 80%;


                }

                .reactSelect {
                    width: 88%;
                }




            }

            .formSubmission {
                text-align: center;
                margin-top: 10px;
            }


        }
    }
}