.RegistrationPageMain {
    background-color: rgba(42, 42, 104, 255);
    height: 100vh;
    width: 100%;
    color: aliceblue;

    .mainHeading {
        background-color: aliceblue;
        text-align: center;
        margin: 0px;
        padding: 5px;
        color: black;

    }

    .formContainer {
        margin: 15px 15px 0px 15px;
        display: flex;
        flex: column;
        justify-content: center;
        align-items: center;
        height: 380px;

        .form {
            background-color: rgba(191, 181, 153);
            margin: 5px;
            padding: 10px 15px;

            .formSubmission {
                display: flex;
                justify-content: center;
                margin-bottom: 15px;

                button {
                    margin-left: 20px;
                }
            }

            .fieldsRow {
                margin-left: 5px;
                margin-right: 5px;

                .formField {
                    margin-bottom: 10px;

                    .fieldIcon {
                        // background-color: rgba(2, 126, 193, 255);
                        padding: 3px;
                        // color: black;
                        margin-right: 1px;
                    }

                    .fieldErr {
                        border-bottom: 1px solid red;
                    }

                    ::placeholder {
                        color: black;
                    }

                    input[type=number]::-webkit-inner-spin-button,
                    input[type=number]::-webkit-outer-spin-button {
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        margin: 0;
                    }

                    input {
                        background: none;
                        border: none;
                        border-bottom: 1.5px solid lightskyblue;
                        padding: 3px;
                        color: aliceblue;
                        width: 85%;

                        &:focus {
                            outline: none;
                        }
                    }
                }

                .formField-select {
                    display: flex;
                    margin-bottom: 10px;



                    .reactSelect {
                        width: 90%;


                        .fieldErr {
                            border-bottom: 1.5px solid red;
                        }

                        .selectField {
                            border-bottom: 1.5px solid lightblue;
                        }

                        .css-b62m3t-container {


                            .css-13cymwt-control {
                                background: none;
                                border: none;

                                &:hover {
                                    background: none !important;
                                }

                                &:focus {
                                    background: none !important;
                                }

                                // border-bottom: 1.5px solid lightskyblue;

                                .css-1fdsijx-ValueContainer {
                                    .css-1dimb5e-singleValue {
                                        color: white;
                                    }

                                    .css-1jqq78o-placeholder {
                                        color: black;
                                    }
                                }

                                &:focus {
                                    .css-1fdsijx-ValueContainer {
                                        background: none !important;
                                    }
                                }
                            }

                            .css-1nmdiq5-menu {
                                color: black;
                            }
                        }
                    }
                }
            }

            .regSuccess {
                color: green;
            }

            .errorsNote {
                color: red;
            }

            .InitialNote {
                color: blue;
            }
        }
    }

    // p {
    //     margin: 0px;
    //     // background-color: white;
    //     padding: 5px;
    //     text-align: center;
    //     color: black;
    // }

}