.RegistrationPageMain {
    background-color: rgba(11, 73, 130, 255);
    height: 100vh;
    width: 100%;

    p {
        margin: 0px;
        background-color: white;
        padding: 10px;
        text-align: center;
    }

    .formContainer {
        display: flex;
        justify-content: center;
        height: 90vh;
        flex-direction: column;
        align-items: center;

        .form {
            background-color: rgba(113, 164, 218, 255);
            width: 60%;
            padding: 30px;

            .formField {
                display: inline-block;
                width: 50%;

                label {
                    color: white;
                    display: block;
                    width: 80%;
                    text-align: start;
                }

                .fieldErr {
                    border: 2px solid red;
                }

                input {
                    padding: 10px 15px;
                    display: block;
                    width: 80%;


                }

                input[type=number]::-webkit-inner-spin-button,
                input[type=number]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    margin: 0;
                }

                .reactSelect {
                    width: 88%;

                    #react-select-2-placeholder {
                        font-size: 14px;
                    }
                }




            }

            .formSubmission {
                text-align: center;
                margin-top: 10px;
            }


        }
    }
}